/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans+Condensed:300&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #fcde9c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcde9c; /* Gecko Browsers */
}


body {
  background: url("/img/billie-holiday.png");
  font-family: 'Anonymous Pro', monospace; 
}
.body-light {
  transition: 1s;
  background-color: rgb(255, 255, 255);
}
.body-dark {
  transition: 2s;
  background-color: rgb(42, 42, 42);
}


/* Typing Animation */
.type-name {
    position: relative; 
    margin: 1% 37.33% auto;
    color: black;
    font-size: 8vw;
    text-align: center;
    overflow: hidden;
}
.anim-typewriter {
  animation: typewriter 1s steps(6) 1s 1 normal both,
      blinkTextCursor 500ms steps(11) 7 normal;
  animation-delay: 800ms;
  border-right: 3px solid transparent;
  padding-left: .5%;
}
@keyframes typewriter {
  from{width: 0%;}
  to{width: 26%;}
}
@keyframes blinkTextCursor {
  from{border-right-color: #000000;}
  to{border-right-color: transparent;}
}


/* Breakline Animation */
.anim-breakline {
  position: relative;
  margin-top: -1vh;
  color: black;
  text-align:center;
  animation: breakline 800ms linear forwards;
}
@keyframes breakline {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:35%;
    width:30%;
  }
}

nav {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin: auto;
}
nav ul li {
  padding: .2em 1em;
  font-size: 4vw;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: black;
}
.nav-bar li:hover {
  /*background: linear-gradient(to left, #e0d5e0 40%, #ff0707 50%, #f0b12b);
    background: linear-gradient(to left, #e0d5e0 40%, #ae90e0 50%, #a47c7c);

  */
  background: linear-gradient(to left, #e0d5e0 40%, #90d8e0 50%, #877ca4);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 220% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 550ms linear 1;
  /*display: inline-block;*/
}
@keyframes textclip {
  to { background-position: 200% center; }
}


.home {
  position: absolute;
  top: .5em;
  left: .5em;
  height: 2em;
  mix-blend-mode: difference;
}

.nightmode {
  mix-blend-mode: difference;
}
.nightmode-off {
  position: absolute;
  width: 4%;
  height: 4vw;
  top: .6em;
  left: .6em;
  background: url("/img/sun.png") no-repeat;
  background-size: 100% 100%;
}
.nightmode-on {
  position: absolute;
  width: 4%;
  height: 4vw;
  top: .6em;
  left: .6em;
  background: url("/img/crescent.png") no-repeat;
  background-size: 100% 100%;
}

.headshot {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 1%;
  max-height: 90%;
  max-width: 57%;
  opacity: 75%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}