/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans+Condensed:300&display=swap);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

::selection {
  background: #fcde9c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcde9c; /* Gecko Browsers */
}

body {
  height: calc(100vh - 1em);
  font-family: 'Anonymous Pro', monospace;  
  background: none;
  background: url("/img/billie-holiday.png");
  background-color: #868686;
  overflow-y: auto;
}

.header{
  background-color: red;
}

.here:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px dotted #ff0000;
  transform: translate(-50%);
}

div {
  color: white;
  margin: 10px auto;
  width: 60%;
  height: 100px;
  position: relative;
  text-align: center
}


/* Typing Animation */
.type-name {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    color:  #f0efe9;
    font-size: 8vw;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;    
}
.anim-typewriter {
  animation: typewriter 2s steps(11) 1s 1 normal both,
      blinkTextCursor 500ms steps(11) 8 normal;
      white-space: nowrap; 
  animation-delay: 800ms;
  border-right: 2px solid transparent;

}
@keyframes typewriter {
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgb(224, 224, 224);}
  to{border-right-color: transparent;}
}


.anim-breakline {
  color: rgb(255, 255, 255);
  display: block;
  margin-top: 0em;
  left:50%;
  width:0%;
  text-align:center;
  animation: breakline 850ms linear forwards;
}
@keyframes breakline {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:35%;
    width:30%;
  }
}

.nav-bar {
  transition: all .5s ease-in-out;
  animation: expandDiv 1200ms;
  position: relative;
  margin: auto;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;/*add text align-center*/
}

@keyframes expandDiv {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.nav-bar ul li {
  background-color: black;
  font-size: 2.5vw;
  font-family: "Open Sans Condensed";
  color: rgb(63, 63, 63);
  display: inline-block;
  margin: 0 1%; /* space between list elements */
  /*padding: 0px; /* space around text */
}

.nav-bar ul li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #e0dfd5;

  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
  width: 100px;
  background: #Cc3399;
  color: #eee;
  float: left;
  text-align: center;


}
.nav-bar li:hover {
  background: linear-gradient(to left, #e0dfd5 40%, #ff0707 50%, #f0b12b);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 400ms linear 1;
  /*display: inline-block;*/
}
@keyframes textclip {
  to { background-position: 200% center; }
}

.horz-panes {
  padding: 5% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
}
.horz-panes div {
  width: 40%;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.imgbox {
  position: relative;
}
.imgbox img {
  position: absolute;
  top: 0px;
  right: 0px;
  max-height: 20vw;
  max-width: 25vw;
  border-radius: 7em .2em;
  filter: grayscale(1%); 
}
#img1 {
  opacity: 1;
  transition: opacity 1s;
}
#img2 {
  opacity: 0;
  transition: opacity 1s;
}


.googledoc {
  text-align: center;
  margin-top: 10em;
}