/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

body {
  height: calc(100vh - 8em);
  font-family: 'Anonymous Pro', monospace;  
  background: url("/img/brushed-alum.png");
  background-color: rgb(255, 255, 255);
}

/* Typing Animation */
.type-name {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgb(63, 63, 63);
    color:  rgb(25, 25, 63);
    font-size: 8vw;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;    
}
.anim-typewriter {
  animation: typewriter 2s steps(11) 1s 1 normal both,
      blinkTextCursor 500ms steps(11) 8 normal;
      white-space: nowrap; 
  animation-delay: 800ms;
  border-right: 2px solid transparent;

}
@keyframes typewriter {
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgb(63, 63, 63);}
  to{border-right-color: transparent;}
}


.anim-breakline {
  color: rgb(63, 63, 63);
  display: block;
  position: absolute;
  margin-top: 0em;
  left:50%;
  width:0%;
  text-align:center;
  animation: breakline 800ms linear forwards;
}
@keyframes breakline {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:35%;
    width:30%;
  }
}

.nav-bar {
  transition: all .5s ease-in-out;
  height: 0;
  animation: expandDiv 1200ms;
}
@keyframes expandDiv {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nav-bar ul {
  margin: auto;
  margin-top: 2px;
  margin-right: 3%;
  padding: 0;
  text-align: center;
}

.nav-bar li {
  font-size: 3vw;
  color: rgb(63, 63, 63);
  display: inline-block;
  margin: 0 10%; /* space between list elements */
  padding: 5px; /* space around text */
}
  
