/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans+Condensed:300&display=swap);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

::selection {
  background: #ffeeb7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffeeb7; /* Gecko Browsers */
}

body {
  height: calc(100vh - 1em);
  font-family: 'Anonymous Pro', monospace;  
  background: url("/img/brushed-alum.png");
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.header{
  background-color: red;
}

/* Typing Animation */
.type-name {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgb(63, 63, 63);
    color:  rgb(25, 25, 63);
    font-size: 8vw;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;    
}
.anim-typewriter {
  animation: typewriter 2s steps(11) 1s 1 normal both,
      blinkTextCursor 500ms steps(11) 8 normal;
      white-space: nowrap; 
  animation-delay: 800ms;
  border-right: 2px solid transparent;

}
@keyframes typewriter {
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor {
  from{border-right-color: rgb(63, 63, 63);}
  to{border-right-color: transparent;}
}


.anim-breakline {
  color: rgb(63, 63, 63);
  display: block;
  margin-top: 0em;
  left:50%;
  width:0%;
  text-align:center;
  animation: breakline 850ms linear forwards;
}
@keyframes breakline {
  from {
    left:50%;
    width:0%;
  }
  to {
    left:35%;
    width:30%;
  }
}

.nav-bar {
  transition: all .5s ease-in-out;
  height: 0;
  animation: expandDiv 1200ms;
}
@keyframes expandDiv {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nav-bar ul {
  margin-right: 0.5%;
  text-align: center;
  font-weight: 500;
}
.nav-bar li {
  font-size: 2.5vw;
  font-family: "Open Sans Condensed";
  color: rgb(63, 63, 63);
  display: inline-block;
  margin: 0 4%; /* space between list elements */
  padding: 5px; /* space around text */
}
.nav-bar a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}
.nav-bar li:hover {
  background: linear-gradient(to right, rgb(25, 25, 63) 10%, rgb(133, 133, 133) 40%, rgb(104, 109, 122) 10%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 250ms linear 1;
  /*display: inline-block;*/
}
@keyframes textclip {
  to { background-position: 200% center; }
}

.horz-panes {
  padding: 8% 5% 0% 5%;
  display: flex;
  justify-content: space-between;
}
.horz-panes div {
  width: 40%;
  float:left;
  
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.img {
  text-align: right;
}
#bio-img img {
  width: 50%;
}